<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">


        <h4 class="content padding double-padding-x">TodoList!</h4>
        <div class="list animate-fade-slide-in-right">
            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>

            <li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>


        </div>
    </ion-content>
</ion-view>
